@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foregroundnpm run: -moz-drag-over);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bricolage: var(--font-bricolage);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage);
}

.react-pdf__Page__canvas {
  /* width: 100% !important; */
  height: 100% !important ;
  object-fit: cover;
  margin-inline: auto;
}

button {
  cursor: pointer;
}
